---
layout: page
title: References
permalink: /references/
---

What follows are links to separate "reading lists" of articles and books by broad topic. Sources will duplicate across lists if appropriate. There are BibTex records for each paper, abstracts when available, and links to Repec or direct downloads if I have them.

I make no claim that these lists are comprehensive. I know for sure that I am missing important references, but these lists represent the latest state of my BibTeX file. If you want the whole file, you can download it <a href="https://dl.dropboxusercontent.com/u/6823742/growthbib.bib">here</a>.

<div class="posts">
<ul>
  {% for post in site.categories.bibliography %}
    {% if post.url %}
        <li>
         <a id="post-link-trans" class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

