---
layout: page
title: Topics
permalink: /topics/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Topics</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="section-title">
          </div>
          <p>The following pages are collections of posts from this blog, external links, and academic papers that are related by some common theme. The materials are not intended to be exhaustive, and will evolve over time as I add more references and links.</p>

        <p>  
            <ol>
              {% for post in site.categories.topic %}
                {% if post.url %}
                    <li>
                     <a id="post-link-trans" class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                      </a>
                    </li>
                {% endif %}
              {% endfor %}
            </ol>
        </p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>
