<!-- footer Start -->

<!-- Disqus comment count script -->
<script id="dsq-count-scr" src="//growthecon.disqus.com/count.js" async></script>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/book">Book</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/classes">Classes</a></li>
                <li><a href="{{ site.baseurl }}/research">Research</a></li>
                <li><a href="{{ site.baseurl }}/references">References</a></li>
                <li><a href="{{ site.baseurl }}/topics">Topics</a></li>
          </ul>
        </div>
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</p>
        <p>Site theme developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
