---
---
{{ reference }} {% if entry.paper %} &nbsp; <a href="{{ site.dropbox }}/{{ entry.paper }}">Paper</a> {% endif %} {% if entry.data %} &nbsp; <a href="{{ site.dropbox }}/{{ entry.data }}">Data</a> {% endif %}

<div id="materials">
<ul style="list-style: none;">
	{% if entry.abstract %}
		<li><details>
		<summary>Abstract</summary>
		<p>{{ entry.abstract }}</p>
		</details></li>
	{% endif %}
		<li><details>
		<summary>BibTeX</summary>
		<pre>{{ entry.bibtex }}</pre>
		</details></li>
</ul>
</div>
